:root {
    --mc: #0d6efd;
    --sc: #dc3545;
    --lc: #f8f9fa;
    --gc: #ced4da;
    --dc: #212529;
}

.mainColor {
    color: var(--mc);
}

.basicSection {
    padding: 100px 0;
    letter-spacing: -0.025em;
    font-size: 15px;
}

.basicSection h2 {
    font-size: 29px;
    font-weight: 700;
    text-align: center;
}

.basicSection h2 span {
    color: var(--mc);
}

.basicSection h2::after {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    background: #aaaaaa;
    margin: 15px auto;
}

.basicSection>p {
    margin-bottom: 50px;
    font-weight: 300;
    text-align: center;
}

.basicSection .pd15 {
    padding: 0 15px;
}

/* flex-container */
.container {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    /* section02 그림사이 gap이 생김 */
    /* gap: 30px; */
}

/* .container>* {
    flex: 1;
} */

/* container */
.inner {
    width: 1200px;
    margin: 0 auto;
}

.inner::after {
    content: "";
    display: block;
    clear: both;
}

/* dotlist */
.dotList li {
    position: relative;
    padding: 0 0 0 20px;
    /* 줄바꿈된 li를 위해서 이렇게 해주는 것이 좋다. */
    line-height: 1.2;
    margin: 0 0 5px 0;
}

.dotList li::before {
    content: "";
    /* 
    이렇게 만들었더니 글자가 길어졌을 때 대처를 하지 못해서 수정햇다.
    display: inline-block;
    vertical-align: middle; */
    position: absolute;
    top: 10px;
    left: 0;
    width: 2px;
    height: 2px;
    background: var(--mc);
    margin: 0 10px 0 0;

}

/* table */
.table {
    width: 100%;
    /* border-bottom: 1px solid #333; 이 안됨 */
    border-spacing: 0;
    border-collapse: collapse;
    border-top: 2px solid var(--mc);
}

.table tr {
    border-bottom: 1px solid var(--gc);

}

.table td {
    /* border: 1px solid #f00; */
    border-left: 1px solid var(--gc);
    padding: 15px;
}

.table th {
    text-align: left;
    background: var(--lc);
    padding: 15px;
}

.responstive_table {
    width: 100%;
    overflow-x: scroll;
}