.dotList li {
    position: relative;
    padding: 0 0 0 20px;
    line-height: 1.2;
    margin: 0 0 5px 0;
}

.dotList li::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 2px;
    height: 2px;
    background: #0d6efd;
    margin: 0 10px 0 0;

}

.container {
    display: flex;
    width: 1170px;
    margin: 0 auto;
}

.Business {
    padding: 100px 0;
    letter-spacing: -0.025em;
    font-size: 15px;
}

.Business h2 {
    font-size: 29px;
    font-weight: 700;
    text-align: center;
}

.Business h2::after {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    background: #aaaaaa;
    margin: 15px auto;
}

.Business>p {
    margin-bottom: 50px;
    font-weight: 500;
    text-align: center;
}

.Business .container img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.Business figure {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.Business figure~figure {
    border-left: 1px solid rgb(255, 255, 255, 0);
}

.Business .cover {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1);
    color: #fff;
    transition: left 0.5s;
}

.Business figure:hover .cover {
    left: -50%;
}


.Business figure .cover {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    transition: left 0.5s;
    padding: 40px 20px;
}

.Business figure:hover .cover {
    left: 0;
}

.Business figure h3 {
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 21px;
    font-weight: 500;
}

.Business figure p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.25;
}

.Business figure .cover a {
    align-self: flex-start;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: auto;
    padding: 10px 15px;
}

.Business .inner {
    width: 1200px;
    margin: 0 auto;
}

.Business .inner::after {
    content: '';
    display: block;
    clear: both;
}

.Business .inner>div {
    float: left;
    width: 50%;
}

.Business .inner>div:nth-of-type(1) {
    padding: 0 15px;
}

.Business .container {
    margin: 0 auto 100px auto;
}

.Business .tit strong {
    position: relative;
    display: block;
    margin: 0 0 20px 0;
    padding: 0 0 0 20px;
    font-size: 30px;
    font-weight: 700;
}

.Business .tit p {
    padding: 0 0 0 20px;
    font-size: 15px;
    font-weight: 300;
}

.Business .tit strong::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 80px;
    background: #0d6efd;
}